body{
   font-family: 'Roboto', sans-serif;
   background-color: #FFFFFF;
   color: #434455;
}
a{
   text-decoration: none;
}
ul{
   list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p,ul{
   margin: 0;
   padding: 0;
}
.container{
   width: 1440px;
   padding-left: 0;
   padding-right: 0;
   margin-left: 0;
   margin-right: 0;
}
/* navigation */
.header nav{
   display: flex;
}

.header{
   background-color: #FFFFFF;
border-bottom: 1px solid #E7E9FC;
display: flex;
padding-left: 156px;
gap: 332px;
padding-bottom: 24px;
padding-top: 24px;
}
.logo{
   color: #4D5AE5;
   font-family: "Raleway" , sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.54px;
   text-transform: uppercase;
   margin-right: 76px;
}
.logo-studio{
   color: #2E2F42;
}
.navigation-item{
   color: #2E2F42;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.32px;
}
.navigation-list{
   display: flex;
   gap: 40px;
}
.heder-address ul{
   display: flex;
   gap: 40px;
}
.heder-address{
      font-style: normal;
}
.heder-address-link{
   color: #434455;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.32px;
}
.navigation:hover , .navigation:focus , .heder-address-link:hover , .heder-address-link:focus{
   color: #404BBF;
}

                                     /* hero-image */
.hero-image{
   background-color: #2E2F42;
   padding: 188px 472px;
}
.hero-image-title{
   color: #FFF;
   text-align: center;
   font-size: 56px;
   font-weight: 700;
   line-height: 1.07;
   letter-spacing: 1.12px;
   margin-bottom: 48px;
}
.hero-image-button{
   color: #FFF;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.64px;
   background-color: #4D5AE5;
   cursor: pointer;

   padding: 16px 32px;
   border-radius: 4px;
   border: 0;
   display: block;
   margin: 0 auto;
}
.hero-image-button:focus, .hero-image-button:hover{
   background-color: #404BBF;
} 

/* section_2 Company Benefits */
.section{
   padding: 120px 156px;
   
}

.benefits{
   background-color: #FFF;
}

.benefits-main-title{
   display: none;
   
}
.benefits-list{
   display: flex;
   gap: 24px;
}

.benefits-list-item{
   display: flex;
   flex-direction: column;
   gap: 8px;
   width: calc((100% - 72px) / 4);
}
.benefits-title{
   color: #2E2F42;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.4px;
}
.benefits-text{
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.32px;
}
 
/* section_3-Our Team */




.team{
   background-color: #F4F4FD;
   
}
.team-main-title{
   color: #2E2F42;
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.72px;
   text-transform: capitalize;

   margin-bottom: 72px;
}
.team-list{
   display: flex;
   gap: 24px;
   
}
.team-list-item{
   display: flex;
   flex-direction: column;
   border-radius: 0px 0px 4px 4px;
   background-color: #FFFFFF;
   width: calc((100% - 72px) / 4);
}
.team-title{
   margin-top: 32px;
   margin-bottom: 8px;

   color: #2E2F42;
   text-align: center;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.4px;
}
.team-text{
   margin-bottom: 32px;

   text-align: center;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.32px;
}

/* section 4-Our Portfolio */
.portfolio{
   background-color: #FFF;
}

.portfolio-list{
   display: flex;
   flex-wrap: wrap;
   row-gap: 48px;
   column-gap: 24px;
   
}
.portfolio-list li{
   display: flex;
   flex-direction: column;
   border: 1px solid #E7E9FC;
   width: calc((100% - 48px) / 3);

}
.portfolio-main-title{
   margin-bottom: 72px;
   color: #2E2F42;
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.72px;
   text-transform: capitalize;
}
.portfolio-title{
   color: #2E2F42;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.4px;
   margin-top: 32px;
   margin-bottom: 8px;
   text-indent: 16px;
}
.portfolio-text{
   margin-bottom: 32px;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.32px;
   text-indent: 16px;
}
.portfolio-img{
   max-width: 100%;
}

/*  footer */

.footer{
   background-color: #2E2F42;
   padding-top: 101.5px;
   padding-left: 156px;
   padding-bottom: 100px;
}
.footer-logo{
   color: #4D5AE5;
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.54px;
   text-transform: uppercase;
}
.footer-logo-studio{
   color: #F4F4FD;
}
.footer-text{
   width: 264px;
   margin-top: 17.5px;
   color: #F4F4FD;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.32px;
}